body {
    background-color: #cfe1c9;
}

h1 {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: x-large;
}

h2 {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: large;
}

img {
    width: 200px;
}